@media screen and (min-width: "769px") {
  .head {
    // background-color: #d9d9d9;
    color: #7f181b;
    position: sticky;
    top: 0;
    z-index: 2;

    .desktop {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .empty {
        width: 10%;
        height: auto;
        background-color: transparent;
      }
      .list {
        background-color: white;
        width: 90%;
        display: flex;
        justify-content: space-around;
        h2 {
          font-size: 2rem;

          border-bottom: transparent 0.125rem solid;
          transition: border-bottom 1s;
          font-family: "Inter", sans-serif;
          font-weight: 700;
          &:hover {
            border-color: #7f181b;
            cursor: pointer;
            // animation: shake-head 1s;
          }
        }
      }
    }
    .mobile {
      display: none;
    }
  }
}

@media screen and (max-width: "768px") {
  .head {
    // background-color: #d9d9d9;
    background-color: white;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    color: #7f181b;

    .mobile {
      .bar {
        height: auto;
        margin: 5% 0;
        width: 10%;
        margin-left: 5%;
        margin-top: 5%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: #7f181b;

        img {
          height: auto;
          width: 100%;
          filter: invert(1);
        }
      }
      &__head {
        background-color: #7f181b;
        width: 100vw;
        font-size: 1.35rem;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        // height: 10%;
        // text-align: center;
        // h2 {
        //   // font-size: 7.5vw;

        //   font-size: 2.5rem;
        //   border-bottom: none;
        //   // transition: border-bottom 1s;
        //   margin: 5% 0;
        //   &:hover {
        //     cursor: pointer;
        //     animation: none;
        //   }
        // }
      }
      &__body {
        width: auto;
        font-size: 1.35rem;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
    .desktop {
      display: none;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake-head {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(2deg);
  }

  66% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
