.project {
  height: 100vh;
  display: flex;
  &__content {
    position: relative;

    width: 90%;
    &__title {
      display: flex;
      justify-content: center;
      margin-top: 10%;
      #title {
        font-size: 3rem;
        margin: 0.87em 1%;
        text-align: center;
        color: #d92025;
        font-family: "Inter", sans-serif;
        font-weight: 800;
      }
      &__line {
        display: flex;
        justify-content: center;
        align-items: center;
        &__element {
          background-color: #d92025;
          height: 1vh;
          width: 15vw;
        }
      }
    }

    &__body {
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%;
      &__list {
        &__item {
          display: flex;
          flex-direction: column;
          &__head {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__title {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #d1c6c6;
              text-align: center;
              width: 20%;
              height: 50%;
              h2 {
                font-family: "Inter", sans-serif;
                font-weight: 400;
                color: #7f181b;
                font-size: 2.5rem;
              }
            }

            img {
              width: 10%;
              height: 100%;
            }
          }
          &__description {
            font-family: "Inter", sans-serif;
            font-weight: 200;
            color: #7f181b;
            font-size: 1.8rem;
            //text-indent: 10%;
          }
        }
      }
    }
    #yellow_dude {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 40%;
      width: auto;
      transform: rotateY(180deg);
    }
  }
  &__style {
    width: 10%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      &__rect_1 {
        background-color: #d92025;
        height: 4vh;
        width: 2rem;
      }
      &__rect_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &_rect {
          background-color: #7f181b;
          height: 12vh;
          width: 2rem;
        }
        &_circ {
          margin-top: 2vh;
          background-color: #7f181b;
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          &_red {
            margin-top: 2vh;
            background-color: #7f181b;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            background-color: #d92025;
          }
        }
      }
    }
    &__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      &__rect_1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &_rect {
          background-color: #d92025;
          height: 12vh;
          width: 2rem;
        }
      }
      &__rect_2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &_rect {
          background-color: #7f181b;
          height: 24vh;
          width: 2rem;
        }
      }
    }
  }
}
