@mixin desktop-big {
  @media screen and (min-width: "1440px") {
    width: 35vw;
    height: 50vh;
    line-height: 2.4rem;

    h1 {
      font-size: 2rem;
    }
    li {
      font-size: 1.8rem;
    }
  }
}
@mixin desktop-medium {
  @media screen and (max-width: "1440px") and (min-width: "1024px") {
    width: 35vw;
    height: 50vh;
    line-height: 2rem;

    h1 {
      font-size: 2rem;
    }
    li {
      font-size: 1.5rem;
    }
  }
}
@mixin desktop {
  @media screen and (max-width: "1024px") and (min-width: "768px") {
    width: 35vw;
    height: 50vh;
    line-height: 1.8rem;

    h1 {
      font-size: 1.8rem;
    }
    li {
      font-size: 1.4rem;
    }
  }
}
@mixin tablet {
  @media screen and (max-width: "768px") and (min-width: "425px") {
    width: 90%;
    height: auto;
    line-height: 1.8rem;
    h1 {
      font-size: 1.5rem;
      text-align: center;
    }
    ul {
      padding: 0;

      list-style: none;
    }
    li {
      text-align: center;

      font-size: 1.3rem;
    }
  }
}
@mixin mobile {
  @media screen and (max-width: "425px") {
    border-radius: 0px;

    width: 90%;
    height: auto;
    line-height: 1.5rem;

    h1 {
      font-size: 1.2rem;
      text-align: center;
    }

    ul {
      padding: 0;
      list-style: none;
    }
    li {
      font-size: 1rem;
      text-align: center;
    }
  }
}

.home {
  height: 100vh;
  display: flex;
  &__content {
    width: 90%;
    &__title {
      display: flex;
      justify-content: center;
      margin-top: 10%;
      #title {
        font-size: 3rem;
        margin: 0.87em 1%;
        text-align: center;
        color: #d92025;
        font-family: "Inter", sans-serif;
        font-weight: 800;
      }
      &__line {
        display: flex;
        justify-content: center;
        align-items: center;
        &__element {
          background-color: #d92025;
          height: 1vh;
          width: 15vw;
        }
      }
    }

    .body {
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-image: linear-gradient(#7f181b, #7f181b),
        linear-gradient(#7f181b, #7f181b), linear-gradient(#7f181b, #7f181b),
        linear-gradient(#7f181b, #7f181b);
      background-repeat: no-repeat;
      background-size: 5px 70%, 40% 5px, 5px 70%, 40% 5px;
      background-position: left bottom, left bottom, right top, right top,
        5px 5px;
      //****** tutorial for background-image border using linear-gradient*******
      // background-image: linear-gradient(purple, purple),
      //                   // Above css will create background image that looks like a border.
      //                   linear-gradient(steelblue, steelblue);
      //                   // This will create background image for the container.

      // background-repeat: no-repeat;

      // /* First sizing pair (4px 50%) will define the size of the border i.e border
      //    will be of having 4px width and 50% height. */
      // /* 2nd pair will define the size of stretched background image. */
      // background-size: 4px 50%, calc(100% - 4px) 100%;

      // /* Similar to size, first pair will define the position of the border
      //    and 2nd one for the container background */
      // background-position: left bottom, 4px 0;
      .bio {
        padding: 2%;
        color: #7f181b;
        font-family: "Inter", sans-serif;
        font-weight: 200;
        @include desktop;
        @include tablet;
        @include mobile;
        @include desktop-medium;
        @include desktop-big;

        background-image: linear-gradient(#7f181b, #7f181b),
          linear-gradient(#7f181b, #7f181b), linear-gradient(#7f181b, #7f181b),
          linear-gradient(#7f181b, #7f181b);
        background-repeat: no-repeat;
        background-size: 5px 50%, 50% 5px, 5px 50%, 50% 5px;
        background-position: left bottom, left bottom;
        margin: 20px;
      }
      .skills {
        padding: 2%;

        color: #7f181b;
        font-family: "Inter", sans-serif;
        font-weight: 200;
        background-image: linear-gradient(#7f181b, #7f181b),
          linear-gradient(#7f181b, #7f181b), linear-gradient(#7f181b, #7f181b),
          linear-gradient(#7f181b, #7f181b);
        background-repeat: no-repeat;
        background-size: 5px 50%, 50% 5px, 5px 50%, 50% 5px;
        background-position: right top, right top;
        margin: 20px;
        @include desktop;
        @include tablet;
        @include mobile;
        @include desktop-medium;
        @include desktop-big;
      }
      &__title {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        padding: 3%;
        background-color: #d1c6c6;
        text-align: center;
      }
    }
    #border-glitch {
      display: none;
    }
  }
  &__style {
    width: 10%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      &__rect_1 {
        background-color: #d92025;
        height: 4vh;
        width: 2rem;
      }
      &__rect_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &_rect {
          background-color: #7f181b;
          height: 12vh;
          width: 2rem;
        }
        &_circ {
          margin-top: 2vh;
          background-color: #7f181b;
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          &_red {
            margin-top: 2vh;
            background-color: #7f181b;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            background-color: #d92025;
          }
        }
      }
    }
    &__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      &__rect_1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &_rect {
          background-color: #d92025;
          height: 12vh;
          width: 2rem;
        }
      }
      &__rect_2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &_rect {
          background-color: #7f181b;
          height: 24vh;
          width: 2rem;
        }
      }
    }
  }
}
@media screen and (max-width: "1024px") and (min-width: "768px") {
  .home {
    &__content {
      width: 90%;

      &__title {
        #title {
          font-size: 2.5rem;
        }
        &__line {
          width: 10vw;
        }
      }
    }
  }
}

@media screen and (max-width: "768px") and (min-width: "425px") {
  .home {
    &__content {
      width: 100%;

      &__title {
        #title {
          font-size: 2rem;
        }
        &__line {
          display: none;
        }
      }
    }

    .body {
      background-image: none;
      .bio {
        background-image: none;
      }
      .skills {
        background-image: none;
      }
      display: flex;
      flex-direction: column;
    }
    &__style {
      display: none;
    }
  }
}
@media screen and (max-width: "425px") {
  .home {
    &__content {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      &__title {
        #title {
          font-size: 1.5rem;
        }
        &__line {
          display: none;
        }
      }
    }

    .body {
      background-image: none;
      .bio {
        background-image: none;
      }
      .skills {
        background-image: none;
      }
      display: flex;
      flex-direction: column;
    }
    &__style {
      display: none;
    }
    #border-glitch {
      position: absolute;
      bottom: 0;
      display: block;
      height: auto;
      width: 100%;
      transform: rotateX(180deg);
    }
  }
}
