@mixin desktop-big {
  @media screen and (min-width: "1440px") {
    width: 35vw;
    height: 50vh;
    line-height: 2.5rem;

    h1 {
      font-size: 2rem;
    }
    li {
      font-size: 1.8rem;
    }
  }
}
@mixin desktop-medium {
  @media screen and (max-width: "1440px") and (min-width: "1024px") {
    width: 35vw;
    height: 50vh;
    line-height: 2.5rem;

    h1 {
      font-size: 2rem;
    }
    li {
      font-size: 1.5rem;
    }
  }
}
@mixin desktop {
  @media screen and (max-width: "1024px") and (min-width: "768px") {
    width: 35vw;
    height: 50vh;
    line-height: 2rem;

    h1 {
      font-size: 1.8rem;
    }
    li {
      font-size: 1.4rem;
    }
  }
}
@mixin tablet {
  @media screen and (max-width: "768px") and (min-width: "425px") {
    width: 90%;
    height: auto;
    line-height: 2rem;
    h1 {
      font-size: 1.5rem;
    }
    li {
      font-size: 1.3rem;
    }
  }
}
@mixin mobile {
  @media screen and (max-width: "425px") {
    border-radius: 0px;

    width: 90%;
    height: auto;
    line-height: 2rem;

    h1 {
      font-size: 1.5rem;
    }

    li {
      font-size: 1.2rem;
    }
  }
}

.home {
  height: 100vh;
  display: flex;
  &__content {
    width: 90%;
    &__title {
      display: flex;
      justify-content: center;
      margin-top: 10%;
      #title {
        font-size: 3rem;
        margin: 0.87em 1%;
        text-align: center;
        color: #d92025;
        font-family: "Inter", sans-serif;
        font-weight: 800;
      }
      &__line {
        display: flex;
        justify-content: center;
        align-items: center;
        &__element {
          background-color: #d92025;
          height: 1vh;
          width: 15vw;
        }
      }
    }

    .body {
      border: 5px solid red;
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .bio {
        color: #7f181b;
        font-family: "Inter", sans-serif;
        font-weight: 200;

        @include desktop;
        @include tablet;
        @include mobile;
        @include desktop-medium;
        @include desktop-big;
      }
      .skills {
        color: #7f181b;
        font-family: "Inter", sans-serif;
        font-weight: 200;

        @include desktop;
        @include tablet;
        @include mobile;
        @include desktop-medium;
        @include desktop-big;
      }
      &__title {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        padding: 3%;
        background-color: #d1c6c6;
        text-align: center;
      }
    }
  }
  &__style {
    width: 10%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      &__rect_1 {
        background-color: #d92025;
        height: 4vh;
        width: 2rem;
      }
      &__rect_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &_rect {
          background-color: #7f181b;
          height: 12vh;
          width: 2rem;
        }
        &_circ {
          margin-top: 2vh;
          background-color: #7f181b;
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          &_red {
            margin-top: 2vh;
            background-color: #7f181b;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            background-color: #d92025;
          }
        }
      }
    }
    &__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      &__rect_1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &_rect {
          background-color: #d92025;
          height: 12vh;
          width: 2rem;
        }
      }
      &__rect_2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &_rect {
          background-color: #7f181b;
          height: 24vh;
          width: 2rem;
        }
      }
    }
  }
}
@media screen and (max-width: "1024px") and (min-width: "768px") {
  .home {
    &__content {
      width: 90%;

      &__title {
        #title {
          font-size: 2.5rem;
        }
        &__line {
          width: 10vw;
        }
      }
    }
  }
}

@media screen and (max-width: "768px") {
  .home {
    &__content {
      width: 100%;

      &__title {
        #title {
          font-size: 2rem;
        }
        &__line {
          display: none;
        }
      }
    }

    .body {
      border: 0px transparent solid;

      display: flex;
      flex-direction: column;
    }
    &__style {
      display: none;
    }
  }
}
